*{
    box-sizing: border-box;
}
table, th, td{
    border: 1px solid gray;
    border-collapse: collapse;
}
table{
    width: 70%;
    margin: auto;
}
th{
    background-color: brown;
    color: white;
    padding: 5px;
}
td{
    padding: 5px;

}
tr:nth-child(even){
    background-color: bisque;
}
tr:nth-child(odd){
    background-color: green;

}
tr:hover{
    background-color: aqua;
    color: aliceblue;
}